@mixin centerline{
    display: flex;
    justify-content: center;
    align-items: center;
}

$base-color: #181818;
$mid-color:  #212121;
$accent-color: #3d3d3d;
$high-accent-color:rgb(185, 185, 185);
$font-color: #ffffff;
$app-color: #ff034f;

.body{
    display: flex;
    align-items: start;
    justify-content: center;

    .followbutton{
        position: absolute;
        top: 72.8%;
        left: 50%;
        display: flex;
        background-color: $app-color;
        border: none;
        border-radius: 1rem;
        align-items: center;
        justify-content: center;
        padding: .4rem;
        max-height: 3rem;
        max-height: 2.4rem;
        width: 8rem;
        color: white;
        cursor: pointer;
        transition: .4s ease;

        .addstory{
            width: 1rem;
            background: transparent;
        }

        &:hover{
            background-color: #f45987;
        }
    }

    .divbody{
        margin-left: -2rem; 
    }
}