@mixin centerline{
    display: flex;
    justify-content: center;
    align-items: center;
}

$base-color: #181818;
$mid-color:  #212121;
$accent-color: #3d3d3d;
$high-accent-color:rgb(185, 185, 185);
$font-color: #ffffff;
$app-color: #ff034f;

*{
    list-style: none;
}

.homecontainer{
    display: flex;
    width: 100vw;
}