@mixin centerline{
    display: flex;
    justify-content: center;
    align-items: center;
}

$base-color: #181818;
$mid-color:  #212121;
$accent-color: #3d3d3d;
$high-accent-color:rgb(185, 185, 185);
$font-color: #ffffff;
$app-color: #ff034f;

.feed{
    flex: 5.5;

    .feedwrapper{
        padding: 20px;
    }
}

@media screen and (max-width: 425px){
    .feed{
        max-width: 100%;
        margin-top: 5rem;
    }
}